/**
 * @file 列表项组件样式
 * @author 炽翎
 */
.list-item {
  position: relative;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  width: 675rpx;
  height: 124rpx;
  padding: 12rpx 37.5rpx;
}

.list-item-focused {
  background-color: #00b4ff;
}

.list-item-icon {
  width: 80rpx;
  height: 80rpx;
  margin: 10rpx;
  border-radius: 40rpx;
}

.list-item-icon-focused {
  background-color: #ffffff;
}

.list-item-itemSum {
  margin: 20rpx;
  color: #77777b;
  font-size: 48rpx;
  font-weight: bold;
  line-height: 60rpx;
}

.list-item-itemSum-focused {
  color: #ffffff;
}

.list-item-title {
  position: absolute;
  top: 38;
  left: 149.5;
  color: #333333;
  font-size: 36rpx;
  line-height: 48rpx;
}

.list-item-title-focused {
  color: #ffffff;
}

.list-item-deleting {
  width: 150rpx;
  height: 124rpx;
  background-color: #f2464b;
}

.list-item-deleting-content {
  color: #ffffff;
  font-size: 36rpx;
  font-weight: bold;
  line-height: 124rpx;
  width: auto;
  text-align: center;
}

.list-item-box {
  position: relative;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  width: 300rpx;
  height: 200rpx;
  margin: 37.5rpx;
  border-radius: 15px;
  background-color: #ffffff;
}

.list-item-box-focused {
  background-color: #00b4ff;
}

.list-item-box-icon {
  width: 100rpx;
  height: 100rpx;
  margin: 20rpx;
  border-radius: 50rpx;
}

.list-item-box-icon-focused {
  background-color: #ffffff;
}

.list-item-box-itemSum {
  margin: 20rpx;
  color: #333333;
  font-size: 60rpx;
  font-weight: bold;
}

.list-item-box-itemSum-focused {
  color: #ffffff;
}

.list-item-box-title {
  position: absolute;
  left: 32.5;
  bottom: 20;
  color: #77777b;
  font-size: 36rpx;
}

.list-item-box-title-focused {
  color: #ffffff;
}

.list-item-box-deleting {
  position: absolute;
  right: 60;
  bottom: 60;
  padding: 5rpx 10rpx;
  border-radius: 5px;
  background-color: #f2464b;
}

.list-item-box-deleting-content {
  color: #ffffff;
  font-size: 36rpx;
  font-weight: bold;
  width: auto;
  text-align: center;
}
