/**
 * @file 列表项组件样式
 * @author 炽翎
 */
.list-item {
  position: relative;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  height: 124rpx;
  padding: 12rpx 37.5rpx;
}

.list-item-focused {
  background-color: #00b4ff;
}

.list-item-icon {
  width: 80rpx;
  height: 80rpx;
  margin: 10rpx;
  border-radius: 40rpx;
  background-color: #00b4ff;
}

.list-item-icon-focused {
  background-color: #ffffff;
}

.list-item-itemSum {
  margin: 20rpx;
  color: #77777b;
  font-size: 48rpx;
  font-weight: bold;
  line-height: 60rpx;
}

.list-item-itemSum-focused {
  color: #ffffff;
}

.list-item-title {
  position: absolute;
  top: 38rpx;
  left: 149.5rpx;
  color: #333333;
  font-size: 36rpx;
  line-height: 48rpx;
}

.list-item-title-focused {
  color: #ffffff;
}

.list-item-box {
  position: relative;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  width: 300rpx;
  height: 200rpx;
  margin: 37.5rpx;
  border-radius: 15px;
  background-color: #ffffff;
}

.list-item-box-focused {
  background-color: #00b4ff;
}

.list-item-box-icon {
  width: 100rpx;
  height: 100rpx;
  margin: 20rpx;
  border-radius: 50rpx;
  background-color: #00b4ff;
}

.list-item-box-icon-focused {
  background-color: #ffffff;
}

.list-item-box-itemSum {
  margin: 20rpx;
  color: #333333;
  font-size: 60rpx;
  font-weight: bold;
}

.list-item-box-itemSum-focused {
  color: #ffffff;
}

.list-item-box-title {
  position: absolute;
  left: 32.5rpx;
  bottom: 20rpx;
  color: #77777b;
  font-size: 36rpx;
}

.list-item-box-title-focused {
  color: #ffffff;
}

.list-item-deleting {
  position: absolute;
  top: 0;
  right: 0;
  width: 50rpx;
  height: 50rpx;
  border-radius: 25rpx;
  background-color: red;
}
