/**
 * @file 列表组件样式
 * @author 炽翎
 */
.list {
  text-align: center;
  user-select: none;
}

.list-title {
  color: #333333;
  font-size: 36rpx;
  font-weight: bold;
  width: auto;
  text-align: center;
}

.list-wrapper {
  overflow: hidden;
  min-height: 124rpx;
  margin: 37.5rpx;
  border-radius: 15px;
  background-color: #ffffff;
}

.list-item {
  position: relative;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  width: 675rpx;
  height: 124rpx;
  padding: 12rpx 37.5rpx;
}
