/**
 * @file 详情页样式
 * @author 炽翎
 */
.detail {
  min-height: 100vh;
  background-color: #efeef5;
}

.list-wrapper {
  overflow: hidden;
  min-height: 124rpx;
  margin: 37.5rpx;
  border-radius: 15px;
  background-color: #ffffff;
}
