/*
 * @file 分类组件样式
 * @author 炽翎
 */
.class {
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  user-select: none;
}

.class-deleting {
  position: absolute;
  top: 20;
  right: 20;
  width: 40rpx;
  height: 40rpx;
  justify-content: center;
  align-items: center;
  border-radius: 20rpx;
  background-color: red;
}

.class-deleting-content {
  width: 20rpx;
  height: 5rpx;
  background-color: #ffffff;
}
